#root {
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.user-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar {
  background-color: black;
  color: white;
}

.main-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.player-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

.graphs {
  width: 50%;
}

.p1, .p2 {
  border: 1px solid white;
  border-radius: 10px;
  width: 45%;
  color: white;
}

.player-name {
  font-size: 30px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(163, 163, 163);
}

label {
  font-size: 20px;
}

.defender-stats, .defender-title {
  color: rgb(54, 205, 239);
}

.forward-stats, .forward-title {
  color: rgb(252, 109, 109);
}

.midfielder-stats, .midfielder-title {
  color: rgb(161, 255, 161);
}

.goalkeeper-stats, .goalkeeper-title {
  color: rgb(255, 164, 112);
}

.general {
  color: rgb(255, 255, 255);
}


.group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 20px;
  opacity: 1; /* Start with opacity set to 0 */
  transition: opacity 0.5s; /* Apply transition for opacity */
}

.group.visible {
  opacity: 1; /* When the group is visible, set opacity to 1 */
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 20px;
}

p {
  margin: 0;
}

.buttons-players {
display: flex;
flex-direction: column;
width: 50%;
align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid white;
  padding: 10px;
  width: 91%;
  border-radius: 10px;
}

.button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color .7s, color .7s; /* Add transition property */

}

.general.active {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
}

.general {
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  border: 1px solid white;
}

.defender {
  background-color: #ffffff; /* White background */
  color:rgb(54, 205, 239);
}

.defender.active {
  background-color: rgb(54, 205, 239); /* Blue background */
  color: #ffffff; /* White text */
}

.forward {
  background-color: #ffffff; /* White background */
  color: rgb(252, 109, 109); /* Red text */
}

.forward.active {
  background-color: rgb(252, 109, 109);/* Red background */
  color: #ffffff; /* White text */
}

.midfielder {
  background-color: #ffffff; /* White background */
  color: rgb(100, 165, 100); /* Green text */
}

.midfielder.active {
  background-color: rgb(161, 255, 161); /* Green background */
  color: #000000; /* White text */
}

.goalkeeper {
  background-color: #ffffff; /* White background */
  color: rgb(255, 164, 112); /* Orange text */
}

.goalkeeper.active {
  background-color: rgb(255, 164, 112); /* Orange background */
  color: #ffffff; /* White text */
}

.player-data {
  opacity: 1;
  transition: opacity 1s, height 0.5s, padding 0.5s, margin 0.5s;
}

.player-data.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}